.card{
    margin: 5px;
    background-color: white;
    border-radius: 15px;
}
.image-section {
    width: 100%; /* Set the width of the container */
    max-width: 600px; /* Set a maximum width if needed */
  }
  
  /* Style for the image inside the container */
  .image-section img {
    width: 100%; /* Make the image fill the container width */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Remove extra space under the image */
   border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  }
  .content-section{
    font-family: 'Fira Sans', sans-serif;
    padding-left: 10px;
    padding-bottom: 15px; 
  }
  .title{
    font-size: 1.25rem;
    font-weight: 850;
  }
  .price{
    font-weight: 700;
  }
  .add-button{
    font-weight: bold; 
    font-size: 1rem;
    border-radius: 20px;
    border: none;
    width: 80px;
    height: 40px;
    margin-left: 25px;
    background-color: #67e0a3;
  }