
  .header {
    display: flex;
    align-content:center;
    align-items: center;
    gap: 12rem;   
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    position: sticky;
    top: 0; 
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    background-color: white;
    height: 50px;
    
  }
  .text {
    font-size: 1.25rem;
  }
  .cart-logo{
    font-size: 2.5rem;
    padding-right: .5rem;
  }